<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">

      <%= form_with(model: @user, :url => { :controller => :users, :action => :update }, local: true, multipart: true) do |f| %>
      <div class="form-group">
        <table class="table bordered-table">
          <thead>
            <th></th>
            <th>Please edit your info.</th>
          </thead>
          <tbody>
            <tr>
              <td>User Name</td>
              <td><%= f.text_field :username, id: :username, class: "form-control" %></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><%= f.password_field :password, id: :password, class: "form-control" %></td>
            </tr>
            <tr>
              <td>Confirm Password</td>
              <td><%= f.password_field :password_confirmation, id: :password_confirmation, class: "form-control" %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= f.email_field :email, id: :email, class: "form-control" %></td>
            </tr>
            <tr>
              <td>Phone</td>
              <td><%= f.text_field :phone, id: :phone, class: "form-control" %></td>
            </tr>
            <tr>
              <td>Your Image</td>
              <td><span class="btn btn-warning btn-file">
                Choose File
                <%= f.file_field :image, id: :image %>
              </span></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "Submit", class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>

    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
