<div class="container" id="register-form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render partial: "layouts/register_form" %>
      <hr>
      <%= link_to("You already have an account?", login_path) %>
    </div>
  </div>
</div>


<!-- <div class="register-form">
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %> -->
  <!-- !caution! rails automatically recognize @user is to send 'users_controller.rb'.
      when you use different name's controller, an error message 'uninitialized constant UsersController' will be displayed.
      you can choose 2 options to avoid this problem.
      1. create same name's controller(users_controller.rb) to use @user
      2. add options which controller you want to use, and in the controller, which method you want to use... or something -->
  <!-- <%= form_for(@user) do |f| %>
    <p>REGISTER</p> <br>
    User Name <br>
    <%= f.text_field :username %> <br>
    Password <br>
    <%= f.password_field :password %> <br>
    Confirm Password <br>
    <%= f.password_field :password_confirmation %> <br>
    Mail Address <br>
    <%= f.text_field :email %> <br>
    Phone <br>
    <%= f.text_field :phone %> <br>
    Gender <br>
    <%= f.radio_button :gender, "Male" %>Male
    <%= f.radio_button :gender, "Female" %>Female <br>
    Date of Birth <br>
    <%= f.text_field :date_of_birth %> <br>
    Image <br>
    <%= f.file_field :image %> <br>
    <%= f.submit "Submit", class: "btn-primary" %> <br>
    or <br>
    <%= f.submit "Facebook", class: "btn-primary" %> <br>
  <% end %>
</div> -->
