<div class="container">
  <table>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
    <% @carts.each do |cart|
      product = Product.find_by(:name => cart.product_name)
    %>
    <tr>
      <td><%= image_tag(product.img_name, width:"100px", height:"100px") %></td>
      <td> <%= cart.id %> </td>
      <td><%= cart.product_name %></td>
      <td><%= cart.price %></td>
      <td><%= cart.quantity %></td>
      <td><%= cart.total %></td>
      <td>
        <%= link_to "delete", action: :destroy, id: cart.id %>
      </td>
    </tr>
    <% end %>
  </table>


</div>
