<h3>REGISTER</h3>
<%= render partial: "layouts/providers" %>

<hr>

<h3>Enter your information</h3>
<div class="form-group">
  <!-- !caution! rails automatically recognize @user is to send 'users_controller.rb'.
      when you use different name's controller, an error message 'uninitialized constant UsersController' will be displayed.
      you can choose 2 options to avoid this problem.
      1. create same name's controller(users_controller.rb) to use @user
      2. add options which controller you want to use, and in the controller, which method you want to use... or something -->
  <%= form_for(@user, multipart: true) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", placeholder: "Enter your name" %> <br>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %> <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter the same password" %> <br>
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "Enter your email" %> <br>
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control", placeholder: "Enter your phone number" %> <br>
    <%= f.label :gender %>
    <%= f.radio_button :gender, "Male" %>Male
    <%= f.radio_button :gender, "Female" %>Female <br><br>
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, { :include_blank => false, :start_year => 1900 }, { class: "form-control bootstrap-date" } %> <br>
    <%= f.label :image %>
    <span class="btn btn-warning btn-file" style="margin-bottom: 20px;">
      Choose File
      <%= f.file_field :image, class: "form-control" %>
    </span> <br>
    <%= f.submit "Create", class: "btn btn-primary btn-block" %> <br>
  <% end %>
</div>
